.first_footer{
padding: 80px;
}
img{
    position: relative;
    width: 194.07px;
    height: 58px;
    left: 101px;
    top: -25px;
}
.construction_1{
    position: relative;
    width: 194.07px;
    height: 58px;
    left: 709px;
    top: -88px;

}