@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body{
    margin: 0;
    min-width: 1080px;
    font-family: 'Lato';
}
.hero{
    height: 962px;
    background-image: url("./img/Hero.png");
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

  
  .my-input {
    position: relative;
  }
  
  .my-input::before {
    content: ' ';
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    left: 0px;
    top: 0px;
  }


.Menu>a{
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.Menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 490px;
}
.Main_plato{
    
    height: 221px;
    width: 593px;
    color: #FFFFFF;
    margin-left:10%;
    margin-top: 181px;
}
.Main_plato>h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}
.Main_plato>p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 10%;
    margin-right: 20%;
    height: 110px;
}

  input {
    width: 257px;
    height: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    color: #fff;
    padding: 0 0 22px 43px;
    outline: none;
  }
  
.inputs{
    display: flex;
    align-items: center;
    margin: 53px 10%;
    width: 850px;
    justify-content: space-between;
}

.search{
    font-family: "Lato";
    background: #1B7DFF;
    border-radius: 0px;
    padding: 15px 39px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    border: 0;
    text-transform: uppercase;
}

.benefits{
    height: 555px;
    width: calc(100vw - 10% - 200px);
    min-width: 864px;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.46);
    margin: -200px 5% 0 5%;
    background-color: #ffffff;
    padding: 90px;
}

.explr_btn{
    display: flex;
     align-items: center;
}

.explr_btn>button {
    border: 0;
    background: transparent;
    color: #006DFE;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .points_container{
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  .Odigo{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    
    color: #102746;
  }

  h4{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
  }
  .desc_note{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 300;
  }
  .point>img{
    margin-top: 120px;
  }

  .point>h4{
      margin-top: 37px;
      margin-right: 180px;
  }
  .point>p{
      margin-right: 70px;
      margin-top: 26px;
  }
  .explr_btn{
      margin-top: 39px;
  }

  .span_pictures{
      background-color: #fff;
  }
 
  .span_pictures{
    height: 735px;
    width: calc(100vw - 10%);
    min-width: 864px;
    margin: 131px 5%;
    background-color: #ffffff;
  }

  .introduction{
    height: 95px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 10px);

  }
  .introduction>h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    margin-left: 5px;
  }

  .span_pictures>.img_container{
    margin: 10px 0;
  }

  .two_pictures{
    width: 100%;
    display: flex;
  }
  .span_pictures .two_pictures>img{
    width: calc(50% + 30px);
    margin: -15px;
  }
  .span_pictures .tree_pictures>img{
    width: calc(33.333% + 30px);
    margin: -15px;
  }
  .tree_pictures{
    width: 100%;
    display: flex;
  }

.introduction>h2>span{
  border-bottom: 3px solid #006DFE;
  padding-bottom: 5px;
}

.strangers-head{
    height: 785px;
    width: calc(100vw - 10%);
    min-width: 864px;
    margin: 131px 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-text{
  padding: 26px 47px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 40%;
}

.top_places{
    height: 1298px;
    width: calc(100vw - 10%);
    min-width: 864px;
    margin: 131px 5%;
    background-color: #ffffff;
   
    
}
.tree_masks{
    justify-content: center;
    display: flex;
}
.japan_mask{
    width: 33%;
   margin: 58px 33px;
}

.top_places p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 45px;
}

.top_places button{
    background: #1B7DFF;
    border-radius: 0px;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #ffffff;
    border: 0;
    margin-top: 31px;
}

.top_places>h2>span{
  border-bottom: 3px solid #006DFE;
  padding-bottom: 5px;
}
.top_places>h2{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    margin-left: 5px;
}

.video{
    height: 600px;
    width: 100%;
    min-width: 864px;
    background-color: #ffffff;
}

.video>iframe{
  height: 100%;
   width: 100%;
}

footer{
  height: 370px;
  width: 100%;
  background-color: #0E1D28;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img{
width: 170px;
height: 64px;
margin: 120px 200px 190px 200px;
}
.options{
  flex-direction: column;
  display: flex;
  margin: 70px 95px;
}
footer a{
  text-decoration: none;
  color: #fff;
  margin: 3px;
}

.options>:first-child{
  font-size: 18px;
}