@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
body{
    background-color: black;
}
body {   
    background-image: url(desktop.svg);      
    background-position: center center;      
    background-repeat: no-repeat;
    height: calc(100vh - 52px);          
    background-size: cover;      
    background-color: #000000;
    margin: 0;
    /* overscroll-behavior: none; */

 }
 h1{
    color: #FFFFFF;
    font-family: "Roboto Mono";
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    margin-top: 52px;
}

p{
    color: #FFFFFF;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    margin-inline: 5%;
}

button{
    font-family: "Roboto Mono";
    background: #FFFFFF;
    border-radius: 32px;
    padding: 22.5px 30px;
    margin: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    border: 0;

}

.play_btn{
    color: #FFFFFF;
    font-family: "Roboto Mono";
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    width:fit-content;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
 .play_btn::before{
     content: url("./Vector.png");
     width: 28px;
     height: 28px;
     margin-right: 15px;
     color: #FFFFFF;
 }
body>div{
    align-items: center;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:768px){
    body>div{
        flex-direction: row;
        justify-content: center;
    }
    h1{
        font-size: 32px;
    }
}
@media screen and (min-width:1440px){
    h1{
        font-size: 64px;
    }
    p{
        margin-inline: 15%;
    }
    button{
        padding: 22.5px 60px;
    }
}