body {
    margin: 0;
}

section{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    background-color: #d6e7e3;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

div{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px dashed #444;
}